.car-list {
    display: flex;
    flex-direction: column;
    background: rgba(250,156, 27, 0.8);
    width: 19vw;
    border-radius: 6px;
    padding: 1% 5%;
}

.car-specs {
    display: flex;
    justify-content: space-between;
}

.car-specs div {
    font-weight: bold;
    font-family: Ubuntu;
    font-size: 1.5vw;
    text-decoration: dashed;
}

.car {
    display: flex;
    justify-content: space-between;
    margin: 2% 0%;
}

.car div {
    font-family: ubuntu;
    font-size: 1.3vw;
}